@CHARSET "UTF-8";
#blog{
	width:auto;
	height:600px;
	border:2px solid #ccc;
    font-size:12px;
}
#member #member_sidebar{
	width:300px;
	height:500px;
	margin:15px;
	border:1px dashed #999;
	float:left;
}
#member #member_main{
	width:500px;
	height:500px;
	margin:15px;
	border:1px dashed #999;
	float:right;
}
#member h2{
	text-indent:0;
	text-align:center;
	height:30px;
	line-height:30px;
}
#memeber #member_sidebar dl{
	width:250px;
	background:red;
	margin:15px auto;
	text-align:center;
}
#nmember #member_sidebar dl dt{
	heigth:40px;
	line-height:40px;
	background:gray;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
#member #member_sidebar dl dd{
    heigth:40px;
	line-height:40px;
	background:#eee;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
#member #member_sidebar dl dd a{
	display:block;
	color:#333;
	text_decoration:none;
}
#member #member_main dl{
    width:450px;
	margin:15px auto;
	font-size:14px;
}
#member #member_main dl dd{
	border-bottom:1px dashed #999;
	padding:10px 0;	
}
#member #member_main dl dd p textarea{
	width:220px;
	height:60px;
	border:1px deashed #333;
	background:#fff;
	margin:5px 0 0 70px;
}
#member #member_main dl dd input.text{
	width:220px;
	height:19px;
	border:1px dashed #333;
	background:#fff;
}
#member #member_main dl dd input.code{
	width:60px;
}
#member #member_main dl dd img #passcode{
position:relative;
	top:8px;\
	cursor:pointer;
}
#member #member_main dl dd input.submit{
	width:80px;
	height:22px;
	border:1px dashed #333;
	background:#fff;
	cursor:pointer;
}